extends layout

script(type="text/javascript").
  function translate(key, value) {
    if (key === "lhs") {
      return value;
    }
    if (key === "rhs") {
      return value;
    }
    if (key === "children") {
      return value;
    }    
    if (key === "rule") {
      return undefined;
    }    
    if (key === "dot") {
      return undefined;
    }    
    if (key === "from") {
      return undefined;
    }
    return undefined;
  }
block content
  h1 Parse result
  
  div 
    label Sentence: 
    label #{JSON.stringify(tagged_sentence)}
  div
    label Length: 
    label #{N}
  h2 Earley chart parser
  div
    label Parsing time: 
    label #{parsing_time_Earley} ms
  div
    label Number of items created: 
    label #{nr_items_created} items
  div
    label In language: 
    label #{in_language_Earley}
  br
  div
    table(border="1px")
      tr
        td(width="50px", height="50px", align="center")=""
        - for (var i = 0; i < N; i++) {
            td(width="50px", height="50px", align="center")=tagged_sentence[i][0]
        - }
      tr
        td(width="50px", height="50px", align="center")=""
        - for (var i = 0; i < N; i++) {
            td(width="50px", height="50px", align="center")=tagged_sentence[i][1]
        - }
      tr
        - for (var i = 0; i <= N; i++) {
            td(width="130px", height="50px", align="center")=i
        - }
      tr
        - for (var i = 0; i <= N; i++) {
            td(valign="top")
              each item in chart_Earley.get_items_to(i)
                if (item.data.rule.rhs.length === item.data.dot)
                  label (#{item.id})
                  br
        - }
  div
    pre
      #{JSON.stringify(parse, null, 2)}