extends layout
block content
  script(language="javascript" type="text/javascript" src="Jit/jit-yc.js")
  script(language="javascript" type="text/javascript" src="Javascript/parse_trees.js")
  h1 Parse result
  div 
    label Parser: 
    label #{type_of_parser}
  div 
    label Sentence: 
    label #{JSON.stringify(tagged_sentence)}
  div
    label Length: 
    label #{N}
  div
    label Parsing time: 
    label #{parsing_time} ms
  div
    label Number of parses:
    label #{parses.length}
  div
    label Number of items created: 
    label #{nr_items_created} items
  div
    label In language: 
    label #{in_language}
  br
  div
    table(border="1px")
      tr
        td(width="50px", height="50px", align="center")=""
        - for (var i = 0; i < N; i++) {
            td(width="50px", height="50px", align="center")=tagged_sentence[i][0]
        - }
      tr
        td(width="50px", height="50px", align="center")=""
        - for (var i = 0; i < N; i++) {
            td(width="50px", height="50px", align="center")=tagged_sentence[i][1]
        - }
      tr
        - for (var i = 0; i <= N; i++) {
            td(width="130px", height="50px", align="center")=i
        - }
      tr
        - for (var i = 0; i < N; i++) {
          tr
            td(width="30px", height="50px", align="center")=i
            - for (var j = 1; j <= N; j++) {
                td(width="50px", height="50px", align="left")=JSON.stringify(chart.get_complete_items_from_to(i, j))
            - }
        - }
    div
      select(name="Available parses", onChange="init_spacetree(this.options[this.selectedIndex].value))")
        - for (var i = 0; i < parses.length; i++) {
            option(value=i) #{"Parse " + i + ": " + parses[i].id}
        - }
    div(id="infovis" style="position:relative; height:700px; width:900px; border:solid 1px #333;")
    script(language="javascript" type="text/javascript").
      var local_data = !{JSON.stringify(parses)};
      init_spacetree(local_data[0]);
      